[user]
  signingkey = alexander.borgardt@gmail.com
	email = alexander.borgardt@gmail.com 
	name = aborgardt
[init]
	defaultBranch = master
[core]
  autocrlf = input
[commit]
  gpgSign = true
[tag]
  gpgSign = true
[safe]
	directory = /home/aborgardt/nfs/appdata/100/stacks/homepage/data
