[user]
  signingkey = alexander.borgardt@gmail.com
	email = alexander.borgardt@gmail.com
	name = aborgardt
[includeIf "gitdir:~/storage/workspace/git.sdzecom-services.de/"]
  path = .gitconfig-git.sdzecom-services.de
[init]
	defaultBranch = master
[core]
  autocrlf = input
[commit]
  gpgSign = true
[tag]
  gpgSign = true
[pull]
	rebase = true
