HIST_STAMPS="yyyy-mm-dd"
DOCKER_GATEWAY_HOST=10.120.0.1
LANG=de_DE.UTF-8
EDITOR="vim"
LS_COLORS='no=00;37:fi=00:di=00;33:ln=04;36:pi=40;33:so=01;35:bd=40;33;01:'
HISTFILE=~/.zsh_history
HISTSIZE=10000
SAVEHIST=10000
ANSIBLE_VAULT_PASSWORD_FILE=~/.config/ansible/vk
GOPATH=/usr/local/go/bin
NODEPATH=/opt/node20/bin
GPG_TTY=$(tty)
PATH="$GOPATH:$NODEPATH:$PATH"
